* text=auto eol=lf
*.bat text eol=crlf
*.cmd text eol=crlf
*.png binary
*.jpg binary
*.gif binary
*.ogg binary
*.wav binary
*.mp3 binary
*.jar binary
*.enc binary

# Track large JARs in libs/ with Git LFS
libs/*.jar filter=lfs diff=lfs merge=lfs -text
